<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="description" content="sharing">
        <meta name="viewport" content="width=device-width">

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu:300,400'>
        <link rel="stylesheet" href="{{ asset('css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/libs/modernizr.min.js') }}"></script>
        <script data-main="{{ asset('js/app.js') }}" src="{{ asset('js/libs/require-jquery.js') }}"></script>
        <script type="text/javascript">
            var APP_PATH = "{{ path('app_sharing_homepage') }}";
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="main-container">
            <div class="alert-wrapper"></div>
            {% block main %}{% endblock %}
        </div>

        <footer class="wrapper">
            
        </footer>
        <script type="text/template" id="alert-template">
            <button class="alert-close">&times;</button>
            <strong><%=level%>:</strong> <%=message%>
        </script>
        <script type="text/template" id="login">
            <form method="post" name="login">
                <fieldset>
                    <div class="input-wrapper">
                        <input type="text" name="email" placeholder="Email"/>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" name="passw" placeholder="Senha" />
                    </div>
                    <input type="submit" value="Entrar" />
                </fieldset>
            </form>
            <div class="register-teacher"><a data-uri="register-teacher" href="register-teacher">Sou Professor</a></div>
        </script>
        <script type="text/template" id="register-teacher">
            <form method="post" name="register-teacher">
                <fieldset>
                    <div class="input-wrapper">
                        <input autocomplete="off" type="text" name="university" placeholder="Universidade"/>
                        <div id="autocomplete-university"></div>
                    </div>
                    <div class="input-wrapper">
                        <input autocomplete="off" type="text" name="course" placeholder="Curso"/>
                        <div id="autocomplete-course"></div>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" name="email" placeholder="Email"/>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" name="passw" placeholder="Senha" />
                    </div>
                    <div class="input-wrapper">
                        <input type="password" name="passw-check" placeholder="Confirme a senha" />
                    </div>
                    <input type="submit" value="Cadastrar" />
                </fieldset>
            </form>
        </script>
        <script type="text/template" id="homepage">
            <div class="app-logo-wrapper">
                <h1 class="app-logo">Sharing</h1>
            </div>
            <div class="user-info">
                <div class="user-photo"></div>
                <span class="user-name">Wesley Victhor Mendes</span>
                <div class="user-settings"></div>
            </div>
            <div class="stage-container">
                <nav class="menu-bar">
                    <ul class="menu-bar">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="section-name">Turmas</div>
                </nav>
                <div class="sharing-stage">
                    <div class="group-box">
                        <ul>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Wesley Victhor Mendes</div>
                            </li>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Bruno Bertela</div>
                            </li>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Gustavo Groner</div>
                            </li>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Helder Lozzardo</div>
                            </li>
                        </ul>
                        <h2 class="group-name">FIEO - SI/NA1</h2>
                    </div>
                    <div class="group-box">
                        <ul>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Wesley Victhor Mendes</div>
                            </li>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Bruno Bertela</div>
                            </li>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Gustavo Groner</div>
                            </li>
                            <li>
                                <div class="user-photo"></div>
                                <div class="user-name">Helder Lozzardo</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>
